.header {
  position: relative;
  padding: 24px 0;
}

.header h1 {
  margin-top: -12px;
}

.header h2 {
  margin: -6px 0 12px;
  font-weight: 300;
}

.header p {
  margin-bottom: 18px;
}

.header :global(.container) {
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 60px;
  grid-row-gap: 24px;
  justify-items: center;
  align-items: center;
}

@media (min-width: 768px), print {
  .header :global(.container) {
    grid-template-columns: var(--image-width) auto;
    justify-items: initial;
  }
}

.intro {
  width: 100%;
}

@media (min-width: 768px), print {
  .subHeader {
    display: flex;
  }

  .subHeader ul {
    flex: 1;
  }
}

.hexagon {
  position: relative;
  width: var(--image-width);
  height: var(--image-height);
  background: var(--primary-color);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hexagon::before,
.hexagon::after {
  content: '';
  position: absolute;
  clip-path: inherit;
}

.hexagon::before {
  top: calc(24px / 4);
  right: calc(24px / 4);
  bottom: calc(24px / 4);
  left: calc(24px / 4);
  background: #fff;
}

.hexagon::after {
  top: calc(24px / 2);
  right: calc(24px / 2);
  bottom: calc(24px / 2);
  left: calc(24px / 2);
  background-color: #ddd;
  background-image: url(/static/images/damian.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 10%;
}
