.item {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: var(--default-padding);
  padding: var(--default-padding);
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px 0px;
  border-radius: 5px;
}
