.expertiseWrapper {
  height: 6px;
  margin: 12px 0;
  background: #ddd;
}

.expertise {
  height: 100%;
  background: var(--primary-color);
}

.skillWrapper {
  p {
    display: flex;
    align-items: baseline;
  }

  small {
    margin-right: var(--default-padding);
    width: 30%;
  }

  span {
    width: 70%;
  }
}
