.stripe {
  display: none;
}

@media (min-width: 940px), print {
  .stripe {
    display: block;
    width: 100%;
    overflow: hidden;
    transform: skewY(2deg);
    background: #fff;
    margin-bottom: -24px;
  }

  .stripeTop {
    transform-origin: 100%;
    height: 330px;
  }

  .stripeBottom {
    margin-top: 24px;
    transform-origin: -100%;
    height: 150px;
  }
}

@media print {
  .stripe {
    height: 240px;
  }
}
