:root {
  --primary-color: #e74c3c;
  --primary-hover-color: #862318;
  --header-height: 60px;
  --default-padding: 24px;
  --sticky-pos: 0px;
}

@media print {
  :root {
    --default-padding: 12px;
  }
}

@page {
  margin: 0;
}
