* {
  padding: 0;
  margin: 0;
}

*::selection {
  background: var(--primary-color);
  color: #fff;
}

html,
body {
  font-size: 16px;
}

@media print {
  html,
  body {
    font-size: 10px;
    -webkit-print-color-adjust: exact;
  }
}

body {
  font-family: InterUI, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #24292e;
}

h1,
h2 {
  font-weight: 400;
}

ul {
  list-style: none;
}

ul img {
  vertical-align: middle;
  margin-right: 6px;
}

li {
  padding: 3px 0;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: transparent 2px solid;
  transition: all 0.25s ease;
  max-width: 85%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
}

a:hover {
  color: var(--primary-hover-color);
  border-color: var(--primary-hover-color);
}

:global(.container) {
  margin: 0 auto;
  padding-right: 24px;
  padding-left: 24px;
  max-width: 1200px;
}

@media (min-width: 940px), print {
  :global(.container) {
    padding-right: 48px;
    padding-left: 48px;
  }
}

.layout {
  background: #f6f7f8;
}

.stripe {
  display: none;
}

@media (min-width: 940px), print {
  .stripe {
    display: block;
    width: 100%;
    height: 330px;
    overflow: hidden;
    transform: skewY(2deg);
    transform-origin: 100%;
    background: #fff;
  }

  .stripeBottom {
    margin-top: 24px;
    transform-origin: -100%;
    height: 150px;
  }
}

@media print {
  .stripe {
    height: 240px;
    margin-bottom: -24px;
  }
}
