._2BS0pHZNCcsw-bkZn1Jh_h {
  page-break-before: always;
}

._1Ju0rgWc-64PVDhta0RpMF {
  position: relative;
  break-inside: avoid;
}

._1Ju0rgWc-64PVDhta0RpMF small {
  font-size: 1rem;
}

._1Ju0rgWc-64PVDhta0RpMF p {
  margin-top: 1.5rem;
}

.B4Mfcp4lPcYnK9T5npqC9 {
  padding: var(--default-padding);
  margin: 0 0 3rem 4.5rem;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px 0px;
  border-radius: 5px;
}

@media print {
  .B4Mfcp4lPcYnK9T5npqC9 {
    margin-left: 6rem;
  }
}

.B4Mfcp4lPcYnK9T5npqC9 h2 {
  line-height: 1;
  margin-bottom: 3px;
}

._12xTJdqkGB51PsoJCD6jb8 {
  position: absolute;
  left: 0;
  top: 1.5rem;
  bottom: 0;
}

._1Ju0rgWc-64PVDhta0RpMF:last-child ._12xTJdqkGB51PsoJCD6jb8::after {
  content: none;
}

._12xTJdqkGB51PsoJCD6jb8::before {
  content: '';
  position: absolute;
  top: -0.0625rem;
  left: 0.125rem;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background: #fff;
  border: #fff 0.1875rem solid;
  box-shadow: var(--primary-color) 0 0 0 0.125rem;
}

._12xTJdqkGB51PsoJCD6jb8::after {
  content: '';
  position: absolute;
  top: 1.125rem;
  left: 0.6875rem;
  transform: translateX(-50%);
  bottom: -4.5rem;
  width: 0.125rem;
  background: var(--primary-color);
}

._3O-fMnP7CSL20iXrG8SRdW {
  position: relative;
  padding-bottom: 24px;
}

._1T7GOO4H33eE6wYSahRA7d {
  padding: 24px 0;
}

._1T7GOO4H33eE6wYSahRA7d a {
  border-bottom: 0;
}

@media screen {
  ._1T7GOO4H33eE6wYSahRA7d:hover ._2I8U69SiIB1k6IULVSdZKI svg {
    visibility: visible;
  }
}

._2lSpVnWxAkyTi2jHNsKPYU {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: var(--default-padding);
  padding: var(--default-padding);
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px 0px;
  border-radius: 5px;
}

.F152gqHI1V7RvxQlpN-Tz {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: var(--default-padding);
}

@media (min-width: 940px), print {
  .F152gqHI1V7RvxQlpN-Tz {
    grid-template-columns: 1fr 1fr;
  }
}

._1_9maoaTvm4NQIVqnxshRV {
  height: 6px;
  margin: 12px 0;
  background: #ddd;
}

._2VmBEQkth8POvtLfGJSi90 {
  height: 100%;
  background: var(--primary-color);
}

._3XIGYWqhWOOAONChsqf3iO {
  padding: var(--default-padding);
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px 0px;
  border-radius: 5px;
}

._3XIGYWqhWOOAONChsqf3iO p {
  display: flex;
  align-items: baseline;
}

._3XIGYWqhWOOAONChsqf3iO small {
  margin-right: var(--default-padding);
  width: 30%;
}

._3XIGYWqhWOOAONChsqf3iO span {
  width: 70%;
}

.IDvQ7iqy1dThzvQOR_B4r {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: var(--default-padding);
}

@media (min-width: 940px), print {
  .IDvQ7iqy1dThzvQOR_B4r {
    grid-template-columns: 1fr 1fr;
  }
}

._2sFnauytZHe5P17h5jBOh {
  position: relative;
  padding: 24px 0;
}

._2sFnauytZHe5P17h5jBOh h1 {
  margin-top: -12px;
}

._2sFnauytZHe5P17h5jBOh h2 {
  margin: -6px 0 12px;
  font-weight: 300;
}

._2sFnauytZHe5P17h5jBOh p {
  margin-bottom: 18px;
}

._2sFnauytZHe5P17h5jBOh .container {
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 60px;
  grid-row-gap: 24px;
  justify-items: center;
  align-items: center;
}

@media print {
  ._2sFnauytZHe5P17h5jBOh img {
    width: 12px;
    height: 12px;
  }
}

@media (min-width: 940px), print {
  ._2sFnauytZHe5P17h5jBOh {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  ._2sFnauytZHe5P17h5jBOh .container {
    grid-template-columns: var(--image-width) auto;
    justify-items: initial;
  }
}

._1X18_Gof0PUvPtyNIhz5l1 {
  width: 100%;
}

@media (min-width: 940px), print {
  ._1IJsZNYNNVHUcGFxW8qnvA {
    display: flex;
  }

  ._1IJsZNYNNVHUcGFxW8qnvA ul {
    flex: 1;
  }
}

._39JsI2oHvPHVCM69Ikcn6e {
  position: relative;
  width: var(--image-width);
  height: var(--image-height);
  background: var(--primary-color);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

._39JsI2oHvPHVCM69Ikcn6e::before,
._39JsI2oHvPHVCM69Ikcn6e::after {
  content: '';
  position: absolute;
  clip-path: inherit;
}

._39JsI2oHvPHVCM69Ikcn6e::before {
  top: 6px;
  right: 6px;
  bottom: 6px;
  left: 6px;
  background: #fff;
}

._39JsI2oHvPHVCM69Ikcn6e::after {
  top: 12px;
  right: 12px;
  bottom: 12px;
  left: 12px;
  background-color: #ddd;
  background-image: url(/cv/static/images/damian.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 10%;
}

._3q9uV3p8NIVOj8Z1xzjHVJ {
  display: none;
}

@media (min-width: 940px), print {
  ._3q9uV3p8NIVOj8Z1xzjHVJ {
    display: block;
    width: 100%;
    overflow: hidden;
    transform: skewY(2deg);
    background: #fff;
  }

  ._3ZbzMcTBw8r5UW1EDRgPYK {
    transform-origin: 100%;
    height: 330px;
    border-bottom: #eee 3px solid;
  }

  .lwBjs8TXSSAlyRnbaTIC0 {
    margin-top: 24px;
    transform-origin: -100%;
    height: 150px;
    border-top: #eee 3px solid;
  }
}

@media print {
  ._3q9uV3p8NIVOj8Z1xzjHVJ {
    height: 240px;
    margin-bottom: -24px;
  }
}

:root {
  --primary-color: #e74c3c;
  --primary-hover-color: #862318;
  --default-padding: 24px;
  --image-width: 168px;
  --image-height: 192px;
}

@media print {
  :root {
    --default-padding: 12px;
    --image-width: 148px;
    --image-height: 172px;
  }
}

* {
  padding: 0;
  margin: 0;
}

*::selection {
  background: var(--primary-color);
  color: #fff;
}

@page {
  margin: 0;
}

@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 400;
  src: url('/static/Inter-UI.var.woff2') format('woff2-variations'), url('/static/Inter-UI-Regular.woff2') format('woff2'),
    url('/static/Inter-UI-Regular.woff') format('woff');
}

html,
body {
  font-size: 16px;
}

@media print {
  html,
  body {
    font-size: 10px;
    -webkit-print-color-adjust: exact;
  }
}

body {
  font-family: InterUI, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #24292e;
}

h1,
h2 {
  font-weight: 400;
}

ul {
  list-style: none;
}

ul img {
  vertical-align: middle;
  margin-right: 6px;
}

li {
  padding: 3px 0;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: transparent 2px solid;
  transition: all 0.25s ease;
  max-width: 85%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
}

a:hover {
  color: var(--primary-hover-color);
  border-color: var(--primary-hover-color);
}

.container {
  margin: 0 auto;
  padding-right: 24px;
  padding-left: 24px;
  max-width: 1200px;
}

@media (min-width: 940px), print {
  .container {
    padding-right: 48px;
    padding-left: 48px;
  }
}

._2m_DUWY1kTTfzmFb1cYDy_ {
  background: #f6f7f8;
}

