.wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: var(--default-padding);
}

@media (min-width: 768px), print {
  .wrapper {
    grid-template-columns: calc(50% - 12px) calc(50% - 12px);
  }
}
