.timelineItem {
  position: relative;
  break-inside: avoid;
}

.timelineItem small {
  font-size: 1rem;
}

.timelineItem p {
  margin-top: 1.5rem;
}

.timeLineItemContent {
  padding: var(--default-padding);
  margin: 0 0 3rem 4.5rem;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px 0px;
  border-radius: 5px;
}

@media print {
  .timeLineItemContent {
    margin-left: 6rem;
  }
}

.timeLineItemContent h2 {
  line-height: 1;
  margin-bottom: 3px;
}

.timeLineItemDeco {
  position: absolute;
  left: 0;
  top: 1.5rem;
  bottom: 0;
}

.timelineItem:last-child .timeLineItemDeco::after {
  content: none;
}

.timeLineItemDeco::before {
  content: '';
  position: absolute;
  top: -0.0625rem;
  left: 0.125rem;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background: #fff;
  border: #fff 0.1875rem solid;
  box-shadow: var(--primary-color) 0 0 0 0.125rem;
}

.timeLineItemDeco::after {
  content: '';
  position: absolute;
  top: 1.125rem;
  left: 0.6875rem;
  transform: translateX(-50%);
  bottom: -4.5rem;
  width: 0.125rem;
  background: var(--primary-color);
}
