.title:hover .anchor svg {
  visibility: visible;
}

.anchor {
  float: left;
  padding-right: 12px;
  margin-left: -30px;
}

.anchor svg {
  visibility: hidden;
}

:global(.sticky) {
  position: sticky;
  padding: var(--default-padding) 0;
  top: var(--sticky-pos); /* Sentinels adjust based on this position. */
  /* height: var(--header-height); */
  transition: all 0.25s ease;
}

:global(.sticky.shadow) {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 4px 0px;
  background: #fff;
  z-index: 1;
  padding-left: var(--default-padding);
}

:global(.sticky_sentinel) {
  background: yellow;
  position: absolute;
  left: 0;
  right: 0; /* needs dimensions */
  visibility: hidden;
}

:global(.sticky_sentinel--top) {
  /* Adjust the height and top values based on your on your sticky top position.
  e.g. make the height bigger and adjust the top so observeHeaders()'s
  IntersectionObserver fires as soon as the bottom of the sentinel crosses the
  top of the intersection container. */
  height: 60px;
  top: -60px;
}

:global(.sticky_sentinel--bottom) {
  bottom: 0;
  /* Height should match the top of the header when it's at the bottom of the
  intersection container. */
  height: var(--header-height);
}
